<section id="aboutme">

    <bg-menu></bg-menu>
  
    <div class="container">
  
<h2>About me, <span class="featured">Bruno Gaudino</span></h2>

<h3>I am braziliam and I living in Guarulhos, a city in the metropolitan area of state of São Paulo</h3>

<br>
<h3><span class="featured">I.T area</span></h3>
<br>
<h3>I am Analyst developer web front-end, committed to developing the work.</h3>
<h3>I try to adapt the changes required in the work environment.</h3>
<h3>Focused on achieving the goals set by the team, willing to meet new technologies.</h3>

<br>
<h3><span class="featured">Education</span></h3>
<br>
<h3>I acted as coordinator of the technical course of computer of the Technical School Camargo Aranha(Etec), and professor teaching the disciplines of Programming Logic, Computerized Applications for Accounting.</h3>



      <!-- social -->
      <bg-social></bg-social>
    
    </div>
  
  </section>