<section id="aboutme">

    <bg-menu></bg-menu>
  
    <div class="container">
        
        <h3 class="text-align-center">About me, <span class="featured">Bruno Gaudino</span></h3>
        <section id="aboutme-info">
            <h4>I was born in São Paulo capital but I am live in metropolitan region of São Paulo in the city of Guarulhos.</h4>
            <h4>I graduated in public school from elementary school to high school and also in College I studied at Fatec(Technology College of State of São Paulo) and I got the Technician's license. </h4>
            <br>

            <h3><span class="featured">I.T area</span></h3>
            <br>
            <h4>I am a analyst developer web front-end, worked in companies like Ongame(the first brazilian publish games), and also Viewit Mobile a companie focused in m-commerce solutions with clients like Ricardo Eletro, E-fácil, Ponto Frio, etc.</h4>
            <h4>I am try to adapt the changes required in the work environment.</h4>
            <h4>I am committed to developing the work, focused on achieving the goals set by the team, and willing to meet new technologies</h4>
            <br>

            <h3><span class="featured">Education</span></h3>
            <br>
            <h4>I acted as coordinator of the technical course of computer of the Technical School Camargo Aranha(Etec), and professor teaching the disciplines of Programming Logic, Computerized Applications for Accounting.</h4>
        </section>
        <!-- social -->
        <bg-social></bg-social>
    
    </div>
  
  </section>