<section id="resume">

  <bg-menu></bg-menu>
  
  <div class="container">

    <h3 class="text-align-center">Resume</h3>




        <section id="resume-info">
            <h2 class="text-align-center">Employment in IT area</h2>
            <article>
                <header>
                    <h2>Analyst developer web - Front-end</h2>
                    <span>at <a href="http://www.brq.com/" target="_blank">BRQ Digital Solutions</a> <time> - 2017 to Present</time></span>
                </header>
                <p>Analyst developer web front-end, development with HTML, CSS, JavaScript, NodeJS, Angular.</p>
            </article>
            <article>
                <header>
                    <h2>Front-end developer</h2>
                    <span>at <a href="https://www.linkedin.com/company/viewit-tecnologia/" target="_blank">Viewit Mobile</a> <time> - 2014 to 2017</time></span>
                </header>
                <p>Development of mobile-oriented websites in a Mac OS development environment using HTML, CSS, JavaScript, Jquery, Sass, Git technologies.</p>
            </article>
            <article>
                <header>
                    <h2>Front-end / Web designer</h2>
                    <span>at <a href="https://br.ongame.net/" target="_blank">Ongame online games </a> <time> - 2010 to 2014</time></span>
                </header>
                <p>Ongame is the frist brazilian company to distribute online games in Brazil, located in the city of São Paulo, it takes care of all the game placement and supports all players registered.</p>
            </article>
            <h2 class="text-align-center">Employment in education area</h2>
            <article>
                <header>
                    <h2>Teacher/Coordinator</h2>
                    <span>at <a href="http://eteccamargoaranha.com.br/" target="_blank">Technical School Camargo Aranha</a> <time> - 2011 to 2012</time></span>
                </header>
                <p>I taught the courses of Applications for Projects, for the courses of Computer science and Computer science for Internet. Computerized Accounting Applications for Accounting Course. I also acted as coordinator of the Informatics course.</p>
            </article>
        </section>
        
        <!--h2 class="text-align-center">Employment</h2>
        <article>
            <header>
                <h2>Analyst developer web - Front-end</h2>
                <span><address>Edinburgh, UK</address><time>2015 to Present</time></span>
            </header>
            <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
        </article>
        <section class="thirteen columns">
            <h1>Education</h1>
            <article>
                <header>
                    <h1>MSc in Advanced Computing</h1>
                    <span>University of Glasgow</span>
                    <span><address>Glasgow, UK</address><time>2011 to 2012</time></span>
                </header>
                <p>
                    <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
                </p>
            </article>
            <article>
                <header>
                    <h1>Major in Computer Science</h1>
                    <span>University of College London</span>
                    <span><address>London, UK</address><time>2007 to 2011</time></span>
                </header>
                <p>
                    <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
                </p>
            </article>
        </section>

        <section class="thirteen columns">
            <h1>Programming Skills</h1>
            <article>
                <header>
                    <h1>Software engineering &amp; web development</h1>
                </header>
                <p>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                    &nbsp;&nbsp;<em>C/C++ &amp; Objective-C</em>
                </p><p>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                    &nbsp;&nbsp;<em>Java</em>, <em>Python</em>, <em>PHP</em> &amp; <em>Git</em>
                </p>
                <p>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
                    &nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Javascript</em>
                </p>
            </article>
        </section>

        <section class="thirteen columns">
            <h1>Initiatives</h1>
            <article>
                <header>
                    <h1>Graduate Summer Student</h1>
                    <span><address>University of Glasgow, UK</address><time>2013</time></span>
                </header>
                <p>
                    Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
                </p>
            </article>
            <article>
                <header>
                    <h1>Student Volunteer</h1>
                    <span><address>British RedCross, Glasgow, UK</address><time>2013</time></span>
                </header>
                <p>
                    Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
                </p>
            </article>
        </section>

        <section class="thirteen columns">
            <h1>Hobbies</h1>
            <article>
                <p>Music, Movies, Tennis, Travelling, Cooking.</p>
            </article>
        </section-->

    <bg-social></bg-social>

  </div>

</section>