        /* Social
  -------------------------------------------------- */
  i.fa:before{
    width: 30px;
    font-size: 30px;
    height: 30px;
    display: block;
    margin: 5px auto;
}

#social {
  padding-top: 12px;
  word-spacing: 25px;
}

#social h4 > a {
  color: #000000;
  margin: 0px 3px;
}
