<section id="lab">

  <bg-menu></bg-menu>

    <div class="container">
          <h3>Lab</h3>
          <section id="labProjects">
                          <article>
      <!--  PROJETOS/CURSOS  -->
              <h2>Course projects <span>Projects developed during Alura courses</span> </h2>
              <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/api.payment" target="_blank">API Payment</a></strong>
                                      - NodeJs API development. The code is available in github and is accessible through the link <a href="https://github.com/brunogaudino/api.payment" target="_blank">API Payment</a>.
                </p>
              </h5>
      <!--<hr>-->
              <h5>
                <p>
                                      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/casadocodigo/" target="_blank">Casa do código home</a></strong>
                                      - Development of the home of the "Casa do código" website in Nodejs, as a NodeJs course project. The code is available in github and can be accessed from the Home Code link. <a href="https://github.com/brunogaudino/casadocodigo/" target="_blank">Casa do código home</a>.
                </p>
              </h5>
      <!--<hr>-->
              <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/angular-alurapic/" target="_blank">Web application Angular</a></strong>
                                      - Webapp development with <a href="https://angular.io/" target="_blank">angular</a>. The code is available in github and is accessible through the Webapp Angular link. <a href="https://github.com/brunogaudino/angular-alurapic/" target="_blank">webapp angular</a>.
                </p>
              </h5>
      <!--<hr>-->
              <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/website-workflow-gulp" target="_blank">Website workflow gulp</a></strong>
                  - Workflow development with automatization tool <a href="http://gulpjs.com/" target="_blank">Gulp</a>.
                                      The code is available in github and is accessible through the Website Workflow <a href="https://brunogaudino.github.io/website-workflow-gulp/" target="_blank">website workflow gulp</a>.
                </p>
              </h5>
      <!--<hr>-->
<!--								<h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/aparecidanutricao" target="_blank">Aparecida Nutrition</a></strong>
                                      - Web application development calculate body fat. A sample page can be accessed on the Aparecida nutrition link <a href="https://brunogaudino.github.io/aparecidanutricao/" target="_blank">Aparecida nutrition</a>.
                </p>
              </h5>-->
      <!--<hr>-->
<!--                <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/portal-news-rwd" target="_blank">News Portal Responsive</a></strong>
                                      - Development a news web page responsive. A sample page can be accessed on the News Portal link <a href="https://brunogaudino.github.io/portal-news-rwd/" target="_blank">News Portal Responsive</a>.
                </p>
              </h5>-->
      <!--<hr>-->
<!--                <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/webpage-joao-da-silva" target="_blank">Web page João da Silva</a></strong>
                                      - Development personal web page of fictional person(João da Silva) for HTML and CSS in <a href="http://www.alura.com.br/">Alura course</a>. A sample page can be accessed on the João da Silva page link <a href="https://brunogaudino.github.io/webpage-joao-da-silva/" target="_blank">web page João da Silva</a>.
                </p>
              </h5>-->
      <!--  PROJETOS/CURSOS  -->
              <!--  PROJETOS  -->
                              <h2>Projects <span>Developed projects</span></h2> 
                              <h5>
                                  <p>
                                      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/developer-nodejs-project/" target="_blank">Developer nodejs project</a></strong>
                                          - A project built with HTML5, CSS3, javascipt, node.js and mongodb, as a complement to the training. The code is available in github and is accessible through the link<a href = "https://github.com/brunogaudino/developer-nodejs-project/"target =" _ blank "> developer nodejs project</a>.
                                  </p>
                              </h5>
                              <h5>
                        <p>
                          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/shot-on-the-target" target="_blank">Shot on the target</a></strong>
                                          - Development of a simple game with javascript in which the user needs to hit the target. This page is usually blocked by the browser for security, it is necessary to unlock to see the game by running the example page can be accessed on the link<a href = "https://brunogaudino.github.io/shot-on-the-target/ "target =" _ blank "> shot on the target </a>.
                        </p>
                      </h5>
                      <!--<hr>-->
                              <h5>
                                  <p>
                                      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/minimalist-jekyll-blog" target="_blank">Minimalist jekyll blog</a></strong>
                                      - Minimalist blog development using jekyll, with posts lists, pagination, commentary with <a href="https://disqus.com/" target="_blank">disqus</a>, and contact form. A sample page can be accessed on the <a href="https://brunogaudino.github.io/minimalist-jekyll-blog/" target="_blank">minimalist jekyll blog</a>.
                                  </p>
                              </h5>
                              <!--<hr>-->
                              <h5>
                                  <p>
                                      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/framework-grid-css" target="_blank">Framework Grid CSS</a></strong>
                                      - CSS framework adaptation based on grid concept, for facilitates the website interface development. A sample page can be accessed on the Framework Grid CSS. <a href="https://brunogaudino.github.io/framework-grid-css/" target="_blank">framework grid css</a>.
                                  </p>
                              </h5>
                              <!--<hr>-->
<!--								<h5>
                                  <p>
                                      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/calculate-gestation-time" target="_blank">Calculate gestation time</a></strong>
                                      - Online gestation time calculator development. A sample page can be accessed on the Calculate gestation time link. <a href="https://brunogaudino.github.io/calculate-gestation-time/" target="_blank">Calculate Gestation Time</a>.
                                  </p>
                              </h5>-->
                              <!--<hr>
                              <h5>
                                  <p>
                                      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/my-patients" target="_blank">My patients</a></strong>
                                      - Desenvolvimento de uma aplicação web que calcula o IMC e adiciona novos pacientes a uma tabela usando javascript. A página de exemplo pode ser acessada no link <a href="https://brunogaudino.github.io/my-patients/" target="_blank">my patients</a>.
                                  </p>
                              </h5>-->
              <!--  PROJETOS  -->
              <!--  GUIA  -->
              <!-- <h2>Guides <span>Web pages with information guides</span> </h2>
              <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/guide-viewit-processes" target="_blank">Guide Viewit Processes</a></strong>
                                      - Web page with process documentation in Viewit Mobile. A sample page can be accessed on the Guide Viewit Processes link <a href="https://brunogaudino.github.io/guide-viewit-processes/" target="_blank">Guide Viewit Processes</a>.
                </p>
              </h5>
              <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/simple-git-guide" target="_blank">Simple Git Guide</a></strong>
                                      - Development of a simple guide with some basic git commands using html, css for query. A sample page can be accessed on the Simple Git Guide link <a href="https://brunogaudino.github.io/simple-git-guide/" target="_blank">Simple Git Guide</a>.
                </p>
              </h5> -->
      <!--  GUIA  -->
                          </article>
      <!--<hr>-->
      <!--
              <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/sources-exercises" target="_blank">Sources exercises</a></strong>
                  - Desenvolvimento de uma lista com exercícios resolvidos. A página de exemplo com os exercícios pode ser acessada no link <a href="https://brunogaudino.github.io/sources-exercises/" target="_blank">sources exercises</a>.
                </p>
              </h5>
      -->
              <!--<h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/projects-list" target="_blank">Projects list</a></strong>
                  - Página com uma lista de pequenos projetos desenvolvidos e em desenvolvimento como menus, layout em colunas, galeria com efeitos em css3, etc. Desenvolvidos com html, css e javascript/jquery. A página de exemplo com os exercícios pode ser acessada no link <a href="https://brunogaudino.github.io/projects-list/" target="_blank">projects list</a>.
                </p>
              </h5>-->
      <!--  SOURCES  -->
      <!--<hr>
             <h5>
               <p>
                 <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/flip-effect-cards" target="_blank">Cards Flip Effect CSS3</a></strong>
                 - Página html desenvolvida utilizando html, css, javascript/jQuery e o plugin <a href="http://www.jacklmoore.com/colorbox/" target="_blank">colorbox</a>. <br />
                A página contém 5 cartas que são rotacionadas quando o mouse é possicionado sobre elas, e ao clicar o efeito colorbox é aplicado sobre a carta clicada. A página de exemplo pode ser acessada no link <a href="https://brunogaudino.github.io/flip-effect-cards/" target="_blank">flip card effect cards</a>.
               </p>
             </h5>
      <hr>
              <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/gallery-css3" target="_blank">Gallery CSS 3</a></strong>
                  - Página html desenvolvida utilizando html, e efeitos css3. A página de exemplo pode ser acessada no link <a href="https://brunogaudino.github.io/gallery-css3/" target="_blank">gallery css3</a>.
                </p>
              </h5>
      <hr>
              <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/columns-layout" target="_blank">Columns layout</a></strong>
                  - Desenvolvimento de estrutura html/css para construção de websites com dimensões de largura e altura do monitor de 1024px por 768px utilizando 2 e 3 colunas. A página de exemplo pode ser acessada no link <a href="https://brunogaudino.github.io/columns-layout/" target="_blank">columns layout</a>.
                </p>
              </h5>
      <hr>
              <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/selection-checkbox-js" target="_blank">Selection checkbox js</a></strong>
                  - Desenvolvimento de página html utilizando alguns itens de formulário(radio, checkbox), a página mostra um exemplo de seleção de itens checkbox ao selecionar um item radio. A página de exemplo pode ser acessada no link <a href="https://brunogaudino.github.io/selection-checkbox-js/" target="_blank">selection checkbox js</a>.
                </p>
              </h5>
      <hr>
               <h5>
                 <p>
                   <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/megamenu" target="_blank">Megamenu</a></strong>
                   - Criação de um mega menu com várias opções e dimensões definidas utilizando html e css sem javascript. A página de exemplo pode ser acessada no link <a href="https://brunogaudino.github.io/megamenu/" target="_blank">megamenu</a>.
                 </p>
               </h5>
      <hr>
              <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/table-to-list-convert" target="_blank">Table to list convert</a></strong>
                      - Página em html com uma tabela(table) e a sua conversão em lista (ul - li) utilizando jQuery, esse código foi desenvolvido para mostrar como alterar o html com jQuery. A página de exemplo no github está no link <a href="https://brunogaudino.github.io/table-to-list-convert/" target="_blank">table to list convert</a>.
                </p>
                  </h5>
      <hr>
                  <h5>
                <p>
                  <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/brunogaudino/cadastro-teste" target="_blank">Cadastro teste</a></strong>
                      - Desenvolvimento de página de cadastro com formulário e validação de dados, nesse projeto foi utilizado um plugin de validação de dados o jquery validate que pode ser obtido no site <a href="http://bassistance.de/jquery-plugins/jquery-plugin-validation/" target="_blank">Bassistance</a>.
                </p>
                  </h5>
                  <h5>
                      <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#" target="_blank">Project 5</a></strong>
                      - Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
                      eam doming blandit facilisis.
                  </h5>
                  <h5>
                      <i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#" target="_blank">Project 6</a></strong>
                      - Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
                      usu ex sapientem gubergren. Tamquam admodum ei usu.
                  </h5> -->
          </section>

        </div>

      </section>