<nav id="menu-nav-open" class="navbar navbar-default">
  <div class="container">
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></li>
        <li><a [routerLink]="['/lab']" routerLinkActive="router-link-active">Lab</a></li>
        <!--li><a [routerLink]="['/recommendations']" routerLinkActive="router-link-active">Recommendations</a></li-->
      </ul>
    </div>
  </div>
</nav>
<!--<div class="backNav"></div>
<span class="fa fa-bars fa-lg"></span>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      
      <a class="navbar-brand" href="/"><i class="fa fa-home"></i></a>

      <a class="navbar-brand" href="/">
        <img src="../assets/img/home/logo-bcw.png" alt="Bruno Gaudino's logo" title="Bruno Gaudino's logo">
      </a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/lab']" routerLinkActive="router-link-active">Lab</a></li>
        <li><a [routerLink]="['/recommendations']" routerLinkActive="router-link-active">Recommendations</a></li>
      </ul>
    </div>
  </div>
</nav>-->
