<section id="about">

  <!--bg-menu></bg-menu-->

  <div class="container">

    <div class="avatar">
      <div class="img-circle">
        <img width="300" src="assets/img/home/logo-bcw.png" alt="Bruno Gaudino's logo" title="Bruno Gaudino's logo">
      </div>
    </div>

    <h3><strong>Bruno Gaudino</strong> {{workPosition}}.</h3>
    <h3><strong>Technician's license </strong> by Fatec(Technology College of State of São Paulo).</h3>
    <h3>Web development with <span class="featured">HTML</span>, <span class="featured">CSS</span>, <span class="featured">JavaScript</span>/<span class="featured">jQuery</span>.</h3>
    <h3>Versioning control with <span class="featured">Git</span>.</h3>
    <h3>Front-end performance with <span class="featured">Gulp</span>.</h3>
    <h3>Specialist in <span class="featured">web accessibility</span>.</h3>
    <h3><span class="featured">Node.js</span> and <span class="featured">Angular</span> frameworks.</h3>
    
    <!-- social -->
    <bg-social></bg-social>
  </div>

</section>