<section id="depositions">

    <bg-menu></bg-menu>

    <div class="container">

        <h3>Recommendations</h3>
        <p>The recommendations can be seen on the link <a href="https://www.linkedin.com/in/brunocesarweb" target="_blank">LinkedIn profile</a>.</p>
        <div class="panel panel-default">

        <div class="panel-body">

            <h3><span>Viewit Mobile</span></h3>
            <div class="flexslider">
                <ul class="slides">
                <li>
                    <!--<p class="depositions">"O Bruno é um profissional comprometido com a qualidade dos entregáveis, tem um compromisso com a empresa, pontual, organizado com um excelente conhecimento no que se dispõem."</p>-->
                    <p class="depositions">"Bruno is a professional committed to the quality of his work, is committed to the company, punctual, organized and with excellent knowledge."</p>
                    <div class="flex-caption">
                    <figure>
                        <img src="../assets/img/recommendations/wilson-viewit2.jpg" alt="Wilson Cunha - Director of new business - Viewit Mobile" title="Wilson Cunha - Director of new business - Viewit Mobile" />
                    </figure>
                    <p>Wilson Cunha - <span>Director of new business.</span></p>
                    </div>
                </li>
                </ul>
            </div>

            <!--<hr>-->
            <h3><span>Ongame</span></h3>
            <div class="flexslider">
                <ul class="slides">
                <li>
                    <!--<p class="depositions">"Bruno é um grande profissional Front-End. Trabalhei com ele na Ongame onde pude acompanhar uma grande evolução que ele teve como Front-End e também evoluiu muito bem como desenvolvedor junior PHP. Tem ótimos conhecimentos das ferramentas necessárias para um Front-End. Tem paciência e trabalha muito bem em equipe."</p>-->
                    <p class="depositions">"Bruno is a great front-end professional. We worked at Ongame where I followed his great evolution in Front-end and also as junior PHP developer. Has good knowledge of the tools for a front end. He has patience and works very well as team."</p>
                    <div class="flex-caption">
                    <figure>
                        <img src="../assets/img/recommendations/fabio-ongame.jpg" alt="Fabio Guaraldo - PHP developer - Ongame" title="Fabio Guaraldo - PHP developer - Ongame" />
                    </figure>
                    <p>Fabio Guaraldo - <span>PHP developer.</span></p>
                    </div>
                </li>
                <li>
                    <!--<p class="depositions">"O Bruno é um profissional sério, trabalhador, preocupado em aprender e ajuda bastante nos projetos da empresa."</p>-->
                    <p class="depositions">"Bruno is a serious professional, hardworking, interested in learning and helping a lot in the projects of the company."</p>
                    <div class="flex-caption">
                    <figure>
                        <img src="../assets/img/recommendations/mardel-ongame.jpg" alt="Mardel Cardoso - Project manager - Ongame" title="Mardel Cardoso - Project manager - Ongame" />
                    </figure>
                    <p>Mardel Cardoso - <span>Project manager.</span></p>
                    </div>
                </li>
                <li>
                                            <!--<p class="depositions">"Bruno é um ótimo webdesigner, os layouts eram sempre programados e entregues nos prazos corretos!"</p>-->
                    <p class="depositions">"Bruno is a great webdesigner, the layouts were always scheduled and delivered on the correct deadlines!"</p>
                    <div class="flex-caption">
                    <figure>
                        <img src="../assets/img/recommendations/rafael-ongame.jpg" alt="Rafael Naletto - Digital design - Ongame" title="Rafael Naletto - Digital design - Ongame" />
                    </figure>
                    <p>Rafael Naletto - <span>Digital design.</span></p>
                    </div>
                </li>
                <li>
                    <!--<p class="depositions">"Sempre solícito e eficaz! "</p>-->
                    <p class="depositions">"Always helpful and effective!"</p>
                    <div class="flex-caption">
                    <figure>
                        <img src="../assets/img/recommendations/diogo-ongame.jpg" alt="Diogo Nishimoto - Content analyst - Ongame" title="Diogo Nishimoto - Content analyst - Ongame" />
                    </figure>
                    <p>Diogo Nishimoto - <span>Content analyst.</span></p>
                    </div>
                </li>
                </ul>
            </div>
            <!--<hr>-->
            <h3><span>Technology College of State of São Paulo(Fatec)</span></h3>
            <div class="flexslider">
                <ul class="slides">
                <li>
                                            <!--<p class="depositions">"Bruno Cesar é um profissional notável, com grande preocupação com a qualidade de seus entregáveis e na experiência do usuário. É marcado também por sua capacidade de trabalho em equipe e organização de seu fluxo de trabalho."</p>-->
                    <p class="depositions">"Bruno Cesar is a remarkable professional with great concern for the quality of his deliverables and in the user experience. He is remarkable for his ability to work in teams and to organize his workflow."</p>
                    <div class="flex-caption">
                    <figure>
                        <img src="../assets/img/recommendations/marcos-fatec.jpg" alt="Marcos Vinicius Guimarães - Web Developer - Fatec" title="Marcos Vinicius Guimarães - Web Developer - Fatec" />
                    </figure>
                    <p>Marcos Vinicius Guimarães - <span>Web Developer.</span></p>
                    </div>
                </li>
                <li>
                                            <!--<p class="depositions">"Bruno sempre foi um aluno dedicado e responsável em suas atividades acadêmicas. Está em busca constante de novidades que possam agregar em suas ações profissionais."</p>-->
                    <p class="depositions">"Bruno has always been a dedicated and responsible student in his academic activities. It is in constant search of novelties that can add in their professional actions."</p>
                                            <div class="flex-caption">
                    <figure>
                        <img src="../assets/img/recommendations/luiz-fatec.jpg" alt="Luiz Pena - Computing course coordinator on ETEC Osasco - Fatec" title="Luiz Pena - Computing course coordinator on ETEC Osasco - Fatec" />
                    </figure>
                                                <p>Luiz Pena - <span>Computing course coordinator on ETEC Osasco.</span></p>
                    </div>
                </li>
                <li>
                    <!--<p class="depositions">"Tive o privilégio de conhecer o Bruno durante o curso de graduação na FATEC e desenvolvermos diversar atividades em grupo. Ele sempre foi uma referência em nossa classe, muito dedicado, pró-ativo e com espírito empreendedor. Sempre bem atualizado e com um bom relacionamento com todos, cativa todas as amizades e cria um ambiente agradável e produtivo. O Bruno é uma excelente pessoa, muito sensato, um super profissional e, particularmente, um grande amigo."</p>-->
                    <p class="depositions">"I had the privilege to meet Bruno during the course at FATEC and to develop various group activities. He has always been a reference in our class, very dedicated, proactive and with an entrepreneurial spirit. Always well updated and with a good relationship with all, it captivates all the friendships and creates a pleasant and productive environment. Bruno is an excellent person, very sensible, a super professional and, in particular, a great friend."</p>
                    <div class="flex-caption">
                    <figure>
                        <img src="../assets/img/recommendations/joao-fatec.jpg" alt="João Gambôa - CSV Expert - Fatec" title="João Gambôa - CSV Expert - Fatec" />
                    </figure>
                    <p>João Gambôa - <span>CSV Expert(Computerized Systems Validation Analyst).</span></p>
                    </div>
                </li>
                <li>
                    <!--<p class="depositions">"Além de se uma pessoa extraordinária como amigo, também é um ótimo profissional."</p>-->
                    <p class="depositions">"Besides being an extraordinary person as a friend, he is also a great professional."</p>
                    <div class="flex-caption">
                    <figure>
                        <img src="../assets/img/recommendations/monica-fatec.jpg" alt="Mônica Oliveira - Teacher at the Centro Paula Souza - Fatec" title="Mônica Oliveira - Teacher at the Centro Paula Souza - Fatec" />
                    </figure>
                    <p>Mônica Oliveira - <span>Teacher at the Centro Paula Souza.</span></p>
                    </div>
                </li>
                </ul>
            </div>

        </div><!-- panel-body -->

        </div>

    </div>

</section>